
@utility container-app {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@utility card {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 1rem;
}

@utility card-hover {
  transition: all .3s ease;

  @variant hover {
    background: var(--surface-hover);
    border-color: var(--primary);
  }
}

@utility glow {
  box-shadow: var(--shadow-green);

  @variant hover {
    box-shadow: var(--shadow-green-lg);
  }
}

@utility text-gradient {
  background: linear-gradient(
    90deg,
    #4be277,
    #8cffaa
  );

  -webkit-background-clip: text;
  color: transparent;
}


/* Student Form */
@utility formFieldCard {
  @apply w-full p-4 bg-background/90 border border-surface-bright
}

@utility formField {
  @apply uppercase px-5 py-3 flex flex-col gap-2
}

@utility formLegend {
  @apply mb-2 text-lg text-on-surface text-center uppercase tracking-wide
}

@utility formLegendSpan {
  @apply text-primary font-black tracking-wider
}